# IDEs
/.idea
/.vscode
.projectile

# Rust
.cargo/config

**/target/
**/*.rs.bk

# Substrate
*.log
*.out

# docker
docker/data/
db/
keystore/
chainspec.json
p2p_secret

# Python
__pycache__/
*.py[cod]
