# IDEs
/.idea
/.vscode
.projectile

# Rust
.cargo/config

target/
**/*.rs.bk
flooder/target/
e2e-tests/target/
common/target/

# Substrate
*.log
*.out

# docker
docker/data/
db/
keystore/
chainspec.json
p2p_secret
