[package]
name = "pallet-committee-management"
version = "0.3.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
rand = { workspace = true }
rand_pcg = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
log = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-authorship = { workspace = true }
pallet-balances = { workspace = true }
pallet-session = { workspace = true }
pallet-staking = { workspace = true }
pallet-timestamp = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-staking = { workspace = true }
sp-std = { workspace = true }

pallet-aleph = { workspace = true }
pallet-elections = { workspace = true }
primitives = { workspace = true }

[features]
default = ["std"]
std = [
    "parity-scale-codec/std",
    "rand/std",
    "scale-info/std",
    "log/std",

    "frame-support/std",
    "frame-system/std",
    "pallet-authorship/std",
    "pallet-balances/std",
    "pallet-session/std",
    "pallet-staking/std",
    "pallet-timestamp/std",
    "sp-core/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-staking/std",
    "sp-std/std",
    "primitives/std",
    "pallet-aleph/std",
    "pallet-elections/std",
]

try-runtime = [
    "frame-support/try-runtime",
]
