[package]
name = "pallet-operations"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }
log = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-session = { workspace = true }
pallet-balances = { workspace = true }
pallet-staking = { workspace = true }
sp-runtime = { workspace = true }
sp-core = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true }
pallet-timestamp = { workspace = true }
frame-election-provider-support = { workspace = true }

[features]
default = ["std"]
std = [
    "parity-scale-codec/std",
    "scale-info/std",
    "log/std",

    "frame-support/std",
    "frame-system/std",
    "pallet-session/std",
    "pallet-balances/std",
    "pallet-staking/std",
    "pallet-timestamp/std",
    "frame-election-provider-support/std",
    "sp-runtime/std",
    "sp-core/std",

]

try-runtime = [
    "frame-support/try-runtime",
]
