[package]
name = "aleph-node"
version = "0.12.1"
description = "Aleph node binary"
build = "build.rs"
license = "GPL-3.0-or-later"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "aleph-node"

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }
libp2p = { workspace = true }
thiserror = { workspace = true }

sc-basic-authorship = { workspace = true }
sc-block-builder = { workspace = true }
sc-chain-spec = { workspace = true }
sc-cli = { workspace = true }
sc-client-api = { workspace = true }
sc-consensus = { workspace = true }
sc-consensus-aura = { workspace = true }
sc-consensus-slots = { workspace = true }
sc-executor = { workspace = true }
sc-keystore = { workspace = true }
sc-network = { workspace = true }
sc-network-sync = { workspace = true }
sc-service = { workspace = true }
sc-telemetry = { workspace = true }
sc-transaction-pool = { workspace = true }
sc-transaction-pool-api = { workspace = true }

sp-application-crypto = { workspace = true }
sp-arithmetic = { workspace = true }
sp-consensus = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-keystore = { workspace = true }
sp-runtime = { workspace = true }
sp-timestamp = { workspace = true }
sp-transaction-pool = { workspace = true }

pallet-staking = { workspace = true }
try-runtime-cli = { workspace = true, optional = true }

frame-benchmarking-cli = { workspace = true, optional = true }
frame-benchmarking = { workspace = true, optional = true }

aleph-runtime = { workspace = true }
finality-aleph = { workspace = true }
primitives = { workspace = true }

# These dependencies are used for the node's RPCs
jsonrpsee = { workspace = true, features = ["server"] }
sc-rpc = { workspace = true }
sc-rpc-api = { workspace = true }
sp-api = { workspace = true }
sp-blockchain = { workspace = true }
sp-block-builder = { workspace = true }
substrate-frame-rpc-system = { workspace = true }
pallet-transaction-payment-rpc = { workspace = true }

[build-dependencies]
substrate-build-script-utils = { workspace = true }

[features]
default = []
short_session = [
    "aleph-runtime/short_session",
    "primitives/short_session"
]
try-runtime = [
    "aleph-runtime/try-runtime",
    "try-runtime-cli/try-runtime",
]
enable_treasury_proposals = [
    "aleph-runtime/enable_treasury_proposals"
]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-benchmarking-cli/runtime-benchmarks",
    "aleph-runtime/runtime-benchmarks",
]
only_legacy = [
    "finality-aleph/only_legacy"
]

# Liminal-related features
liminal = [
    "aleph-runtime/liminal",
]
liminal-try-runtime = [
    "liminal",
    "try-runtime",
    "aleph-runtime/liminal-try-runtime",
]
liminal-runtime-benchmarks = [
    "liminal",
    "runtime-benchmarks",
    "aleph-runtime/liminal-runtime-benchmarks"
]
