[package]
name = "aleph-node"
version = "0.3.0"
authors = ["Cardinal Cryptography"]
description = "Aleph node binary"
edition = "2018"
license = "Apache 2.0"
build = "build.rs"
homepage = "https://alephzero.org"
repository = "https://github.com/aleph-zero-foundation/aleph-node"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "aleph-node"

[dependencies]
structopt = "0.3.8"
log = "0.4"
serde = "1"
serde_json = "1"
futures = "0.3"
hex-literal = "0.3.1"

codec = { package = "parity-scale-codec", version = "2", default-features = false, features = ["derive"] }
sp-application-crypto = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-block-builder = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-cli = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-core = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-executor = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-service = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-telemetry = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-keystore = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-keystore = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-inherents = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-basic-authorship = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-transaction-pool = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-transaction-pool = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-transaction-pool-api = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-consensus-aura = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-consensus-aura = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-consensus = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-consensus = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-client-api = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-runtime = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-timestamp = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5" }

aleph-runtime = { path = "../runtime"}
finality-aleph = { path = "../../finality-aleph"}
aleph-primitives = { package = "primitives", path = "../../primitives"}

# These dependencies are used for the node template's RPCs
jsonrpc-core = "15.1.0"
sc-rpc = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-api = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sc-rpc-api = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-blockchain = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
sp-block-builder = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}
pallet-staking = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate.git", rev = "8bbad73f5"}

[features]
default = []
