[package]
name = "pallet"
version = "0.1.0"
authors = ["Cardinal Cryptography"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate.git", rev = "681f188" }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate.git", rev = "681f188" }
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate.git", rev = "681f188" }
serde = "1.0"
primitives = { package = "primitives", path = "../primitives", version = "0.1.0", default-features = false}


[features]
default = ["std"]
std = [
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "sp-std/std",
    "primitives/std",
]