name: e2e-tests-main-devnet

on:
  pull_request:
    paths-ignore:
      - '*.md'
    branches:
      - main
      - "release-*"
  push:
    paths-ignore:
      - '*.md'
    branches:
      - main
      - "release-*"
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-new-node:
    name: Build node and runtime artifacts (PR version)
    uses: ./.github/workflows/build-node-and-runtime.yml

  build-test-docker:
    needs: [build-new-node]
    name: Build docker image with the test node artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Download test artifact
        uses: actions/download-artifact@v2
        with:
          name: aleph-test-node
          path: target/release/

      - name: Build test docker image
        id: build-image
        run: |
          chmod +x target/release/aleph-node
          docker build --tag aleph-node:latest -f ./docker/Dockerfile .
          docker save -o aleph-node.tar aleph-node:latest

      - name: Upload test docker image
        uses: actions/upload-artifact@v2
        with:
          name: aleph-test-docker
          path: aleph-node.tar
          if-no-files-found: error
          retention-days: 7


  check-determinism:
    needs: [build-new-node]
    name: Verify runtime build determinism
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: full
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1

      - name: Install WASM target
        run: rustup target add wasm32-unknown-unknown

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: aleph-release-runtime

      - name: Build runtime and compare checksum with artifact
        env:
          ARTIFACT: aleph_runtime.compact.wasm
          TARGET_DIR: target/release/wbuild/aleph-runtime
        run: |
          mkdir -p "$TARGET_DIR"
          mv "$ARTIFACT" "$TARGET_DIR"
          sha256sum "$TARGET_DIR/$ARTIFACT" > checksum.sha256
          cargo clean
          cargo build --release -p aleph-runtime
          sha256sum -c checksum.sha256


  build-test-client:
    name: Build e2e test client suite
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: full
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1

      - name: Restore cache
        uses: ./.github/actions/restore-cache
        with:
          target-key: e2e
          cargo-key: e2e
          cache-version: v1
          cargo-targets: e2e-tests/target/

      - name: Build binary and docker image
        run: |
          cd e2e-tests/
          cargo build --release
          docker build --tag aleph-e2e-client:latest -f Dockerfile .
          docker save -o aleph-e2e-client.tar aleph-e2e-client:latest

      - name: Stop cache
        uses: ./.github/actions/post-cache

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: aleph-e2e-client
          path: e2e-tests/aleph-e2e-client.tar
          if-no-files-found: error
          retention-days: 7


  run-e2e-finalization-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e finalization test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: finalization
        timeout-minutes: 2


  run-e2e-rewards-disable-node-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e reward points - disable node test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: rewards_disable_node
          follow-up-finalization-check: true
        timeout-minutes: 15


  run-e2e-token-transfer-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e token transfer test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: token_transfer
        timeout-minutes: 3


  run-e2e-channeling-fee-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e channeling fee test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: channeling_fee_and_tip
        timeout-minutes: 4

  run-e2e-treasury-access-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e treasury access test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: treasury_access
        timeout-minutes: 4


  run-e2e-batch-transactions-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e batch transactions test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: batch_transactions
        timeout-minutes: 4


  run-e2e-staking-era-payouts-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e staking era payouts test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: staking_era_payouts
          follow-up-finalization-check: true
        timeout-minutes: 15


  run-e2e-staking-new-validator-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e staking new validator test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: staking_new_validator
          follow-up-finalization-check: true
        timeout-minutes: 10


  run-e2e-change-validators-test:
    needs: [build-test-docker, build-test-client]
    name: Run e2e change validators test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: change_validators
          follow-up-finalization-check: true
        timeout-minutes: 3


  run-e2e-fee-calculation:
    needs: [build-test-docker, build-test-client]
    name: Run e2e fee calculation test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: fee_calculation
        timeout-minutes: 2

  run-e2e-validators-rotate:
    needs: [build-test-docker, build-test-client]
    name: Run validators rotation test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: validators_rotate
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-era-payout:
    needs: [build-test-docker, build-test-client]
    name: Run era payout test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: era_payout
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-era-validators:
    needs: [build-test-docker, build-test-client]
    name: Run era validators test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: era_validators
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-rewards-force-new-era:
    needs: [build-test-docker, build-test-client]
    name: Run force new era test to check rewards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: rewards_force_new_era
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-rewards-stake-change:
    needs: [build-test-docker, build-test-client]
    name: Run reward points with stake changed test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: rewards_stake_change
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-rewards-change-stake-force-new-era:
    needs: [build-test-docker, build-test-client]
    name: Run reward points with stake changed and new era forced test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: rewards_change_stake_and_force_new_era
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-rewards-points-basic:
    needs: [build-test-docker, build-test-client]
    name: Run basic reward points calculation test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: points_basic
          follow-up-finalization-check: true
        timeout-minutes: 10

  run-e2e-authorities-are-staking:
    needs: [build-test-docker, build-test-client]
    name: Run authorities are staking test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run e2e test
        uses: ./.github/actions/run-e2e-test
        with:
          test-case: authorities_are_staking
        timeout-minutes: 15

  check-e2e-test-suite-completion:
    needs: [
      run-e2e-finalization-test,
      run-e2e-rewards-disable-node-test,
      run-e2e-token-transfer-test,
      run-e2e-channeling-fee-test,
      run-e2e-treasury-access-test,
      run-e2e-batch-transactions-test,
      run-e2e-staking-era-payouts-test,
      run-e2e-staking-new-validator-test,
      run-e2e-change-validators-test,
      run-e2e-fee-calculation,
      run-e2e-validators-rotate,
      run-e2e-era-payout,
      run-e2e-era-validators,
      run-e2e-rewards-force-new-era,
      run-e2e-rewards-stake-change,
      run-e2e-rewards-change-stake-force-new-era,
      run-e2e-rewards-points-basic,
      run-e2e-authorities-are-staking,
    ]
    name: Check e2e test suite completion
    runs-on: ubuntu-latest
    steps:
     - name: All e2e tests completed
       run: echo "All e2e tests completed."


  push-image:
    needs: [check-e2e-test-suite-completion]
    name: Push node image to the ECR and Docker Hub repositories
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: GIT | Checkout Source code
        uses: actions/checkout@v2

      # get the release binary, build docker image
      - name: Download release artifact
        uses: actions/download-artifact@v2
        with:
          name: aleph-release-node
          path: target/release/

      - name: Build docker image
        id: build-image
        run: |
          chmod +x target/release/aleph-node
          docker build --tag aleph-node:latest -f ./docker/Dockerfile .

      - name: Build docker image for onfinality
        id: build-image-onfinality
        run: |
          docker build --cache-from aleph-node:latest-onfinality --tag aleph-node:latest-onfinality -f ./docker/Dockerfile.onfinality .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_MAINNET_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_MAINNET_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Public Amazon ECR
        id: login-public-ecr
        uses: docker/login-action@v1
        with:
          registry: public.ecr.aws
          username: ${{ secrets.AWS_MAINNET_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_MAINNET_SECRET_ACCESS_KEY }}
        env:
          AWS_REGION: us-east-1

      - name: GIT | Get branch info & current commit sha.
        id: vars
        shell: bash
        run: |
          echo "##[set-output name=branch;]$(echo ${GITHUB_REF##*/})"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Push aleph-node Current Image to Public ECR
        env:
          CURRENT_IMAGE: aleph-node
          ECR_PUSH_IMAGE: public.ecr.aws/p6e8q1z1/aleph-node
        run: |
          docker tag ${{ env.CURRENT_IMAGE }} ${{ env.ECR_PUSH_IMAGE }}:${{ steps.vars.outputs.sha_short }}
          docker tag ${{ env.CURRENT_IMAGE }} ${{ env.ECR_PUSH_IMAGE }}:latest
          docker push ${{ env.ECR_PUSH_IMAGE }}:${{ steps.vars.outputs.sha_short }}
          docker push ${{ env.ECR_PUSH_IMAGE }}:latest

      - name: Login to Docker Hub
        id: login-docker-hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push aleph-node:latest-onfinality to Docker Hub
        env:
          CURRENT_IMAGE: aleph-node
          DOCKERHUB_PUSH_IMAGE: cardinalcryptography/aleph-zero
        run: |
          docker tag ${{ env.CURRENT_IMAGE }} ${{ env.DOCKERHUB_PUSH_IMAGE }}:${{ steps.vars.outputs.sha_short }}-onfinality
          docker tag ${{ env.CURRENT_IMAGE }} ${{ env.DOCKERHUB_PUSH_IMAGE }}:latest-onfinality
          docker push ${{ env.DOCKERHUB_PUSH_IMAGE }}:${{ steps.vars.outputs.sha_short }}-onfinality
          docker push ${{ env.DOCKERHUB_PUSH_IMAGE }}:latest-onfinality

  test-catch-up:
    name: Test catching up
    runs-on: ubuntu-latest
    needs: build-new-node
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Download all artifacts
        uses: actions/download-artifact@v2
        with:
          path: local-tests/

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Test catch up
        timeout-minutes: 6
        env:
          # Relative to local-tests/ directory
          ALEPH_NODE_BINARY: aleph-test-node/aleph-node
        run: ./.github/scripts/test_catch_up.sh

  test-multiple-restarts:
    name: Test multiple restarts
    runs-on: ubuntu-latest
    needs: build-new-node
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Download all artifacts
        uses: actions/download-artifact@v2
        with:
          path: local-tests/

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Test multiple restarts
        timeout-minutes: 10
        env:
          # Relative to local-tests/ directory
          ALEPH_NODE_BINARY: aleph-release-node/aleph-node
        run: ./.github/scripts/test_multiple_restarts.sh

  check-runtime-change:
    name: Inspect whether runtime version has been changed (comparing to main)
    runs-on: ubuntu-latest
    outputs:
      runtime-updated: ${{ steps.inspect.outputs.diff }}
    steps:
      - name: Checkout current and old source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Inspect versions
        id: inspect
        run: |
          if [ ! $(git diff HEAD origin/main -- bin/runtime/src/lib.rs | grep ' spec_version: ') ]
          then
            echo "::set-output name=diff::0"
          else
            echo "::set-output name=diff::1"            
          fi

  build-new-runtime-and-try_runtime:
    name: Build new runtime and try_runtime tool
    needs: [ check-runtime-change ]
    if: ${{ needs.check-runtime-change.outputs.runtime-updated != 0 }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1

      - name: Install WASM target
        run: rustup target add wasm32-unknown-unknown

      - name: Restore cache
        uses: ./.github/actions/restore-cache
        with:
          target-key: try-runtime

      - name: Build try-runtime
        run: cargo build --release -p aleph-node --features "try-runtime"

      - name: Build runtime
        run: cargo build --release -p aleph-runtime --features "try-runtime"

      - name: Upload try-runtime
        uses: actions/upload-artifact@v3
        with:
          name: try_runtime
          path: target/release/aleph-node
          if-no-files-found: error
          retention-days: 7

      - name: Upload new runtime
        uses: actions/upload-artifact@v3
        with:
          name: aleph-runtime-try_runtime
          path: target/release/wbuild/aleph-runtime/aleph_runtime.compact.wasm
          if-no-files-found: error
          retention-days: 7

      - name: Cleanup cache
        uses: ./.github/actions/post-cache

  test-runtime-update:
    name: Test runtime update with try-runtime tool
    runs-on: ubuntu-latest
    needs: [ build-new-runtime-and-try_runtime ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: local-tests/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Test update
        timeout-minutes: 20
        env:
          NEW_RUNTIME: aleph-runtime-try_runtime/aleph_runtime.compact.wasm
          TRY_RUNTIME: try_runtime/aleph-node
        working-directory: local-tests/
        run: |
          chmod +x ${{ env.TRY_RUNTIME }}
          pip install -r requirements.txt
          ./test_runtime_update.py \
              wss://ws.test.azero.dev:443 \
              ../bin/node/src/resources/testnet_chainspec.json \
              ${{ env.NEW_RUNTIME }} \
              ${{ env.TRY_RUNTIME }}

  slack:
    name: Slack notification
    runs-on: ubuntu-latest
    needs: [push-image]
    if: always()
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Send Slack message
        uses: ./.github/actions/slack-notification
        with:
          notify-on: "failure"
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
