---
name: unit-tests

on:
  pull_request:
  push:
    branches:
      - 'release-*'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-test-and-lint:
    name: Run check, test and lints
    runs-on: self-hosted
    env:
      CARGO_INCREMENTAL: 0
      RUSTC_WRAPPER: sccache
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v3

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1

      - name: Install clippy and fmt
        run: rustup component add clippy rustfmt

      - name: Install WASM target
        run: rustup target add wasm32-unknown-unknown

      - name: Run Format Checks
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all

      - name: Run Linter
        uses: actions-rs/cargo@v1
        env:
          # https://github.com/mozilla/sccache/issues/966
          RUSTC_WRAPPER: ""
          RUSTC_WORKSPACE_WRAPPER: sccache
        with:
          command: clippy
          args: --all-targets -- --no-deps -D warnings

      - name: Run Unit Test Suite
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --lib --features "liminal-try-runtime liminal-runtime-benchmarks"
